<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Those Who 24.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2F263D1CF76B4F3D2FA160280364E9D6A32BA881</string>
				<key>dateExpires</key>
				<string>4/29/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HXYXVD3RKJ.priscillaye.Those-Who-24</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>HXYXVD3RKJ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Those Who 24.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ddb9aa9f-b51e-454f-a4b8-4afbff082a63</string>
				<key>dateExpires</key>
				<string>4/29/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: priscillaye.Those-Who-24</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HXYXVD3RKJ</string>
				<key>name</key>
				<string>Priscilla Ye</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
